.u-FontColor--darkGreen {
    color:$darkGreen;
}

.u-TextAlign--center {
    text-align: center;
}

.u-TextAlign--left {
    text-align: left;
}

.u-TextDecorate--caps {
    text-transform: uppercase;
}

.u-FontWeight--bold{
    font-weight: bold;
}

.u-Position--relative {
    position: relative;
}

.u-PaddingV--med {
    padding: 2rem 0;
}

.u-PaddingH--med {
    padding: 0 2rem;
}

.u-FontSize--large {
    font-size: 1.5rem;
}

.u-OptionalImage {
    @media (max-width: 500px){
        display: none;
    }
}

.u-TextShadow {
    text-shadow: 1px 1px white;
}

.u-BackgroundColor__grey {
    background-color: $grey;
}