.u-FontColor--darkGreen {
    color:$darkGreen;
}

.u-TextAlign--center {
    text-align: center;
}

.u-TextDecorate--caps {
    text-transform: uppercase;
}

.u-FontWeight--bold{
    font-weight: bold;
}

.u-Position--relative {
    position: relative;
}

.u-PaddingV--medium {
    padding: 2rem 0;
}