  
.c-Button{
    background-color: $darkGreen;
    border-width: 0;
    border-radius: 5px;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 1rem 0;
    transition: 0.3s;
}

.c-Button:hover {
    background-color: $buttonHover;
    box-shadow: 2px 2px;
}