.c-InstructionCard {
    padding: 2rem 0;
    text-align: center;
}

.c-InstructionCard__text {
    
}

.c-InstructionCard__image {
    height: 215px;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}
