
.c-Instruction .c-Instruction__card:nth-of-type(even){
    @media (min-width: 500px) {
        flex-direction: row-reverse;
    }
}

.c-Instruction__card {
    padding: 2rem;
    text-align: center;
}

.c-Instruction__cardImage {
    height: 215px;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.c-Instruction__cardText {
    margin: 0 3rem;
}
