.c-ProductDisplay {
    padding: 0 1rem;
    background-color: $grey;
}


.c-ProductDisplay__card {
    padding: 1rem 0.5rem;
    background-color: white;
    margin: 1rem;
    transition: transform .3s;

}

.c-ProductDisplay__link {
    text-decoration: none;
    color: black;
}

.c-ProductDisplay__card:hover{
   box-shadow: 2px 2px 2px 2px grey;
}

.c-ProductDisplay__image {
    width: 100%;  
}