.o-CenteredColumn--medium {
    margin: 0 auto;
    max-width: 64rem;
}

.o-CenteredColumn--large {
    margin: 0 auto;
    max-width: 64rem
}

.o-CenteredColumn--small {
    margin: 0 auto;
    max-width: 16rem;

}