.o-Flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.o-Flex\@s {
    @media all and (min-width: 400px) {
        flex-direction: row; 

        .o-Flex__item {
            flex: 1;
            display: inline-block;
        }
    }
}

.o-Flex\@m {
    @media all and (min-width: 500px) {
        flex-direction: row;

        .o-Flex__item {
            flex: 1;
            display: inline-block;
        }
    }
}

.o-Flex\@l {
    @media all and (min-width: 600px) {
        flex-direction: row;
        
        .o-Flex__item {
            flex: 1;
            display: inline-block;
        }
    }
}
